body {
  box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: cursive;
  color: white;
  font-weight: 100;
  font-size: larger;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 300px;
  padding: 5px;
  margin-top: 20%;
  margin-left: 40%;
}
h4 {
  padding-left: 15px;
  margin: 5px;
}
.box {
  background-color: rgb(255, 170, 0);
  height: 50px;
  width: 261px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}
